* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  display: flex;
}

.content {
  margin-top: 15px;
}

.header-bar {
  width: 100vw;
  height: 7vh;
  background-color: bisque;
}

.sidebar {
  width: 20vw;
  height: 80vh;
  margin-top: 15px;
  background-color: blueviolet;
}